apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: ClickHouse
    uid: clickhouse
    type: grafana-clickhouse-datasource
    access: proxy
    editable: false
    jsonData:
      defaultDatabase: ozon_analytics
      protocol: http
      host: clickhouse
      port: 8123
      username: lab


